<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio</title>
</head>
<body>
    <header><b>LISTA DE RECETAS</b></header>
    <ul> 
        <li>
            <h1>Tarta de Manzana: {{descripcion}}Una deliciosa atrat de manzana</h1>
        </li>
        <li><h2>Paella:{{descripcion2}}</li>
    </ul></h2>
<h3> <link rel="stylesheet" href="{% static 'tmeplatesapp/interfaz2.html' %}"></h3>
<link rel="stylesheet" href="{%static 'img/manzana.jpg' %}">
</body>
</html>
